@font-face {
  font-family: Raleway;
  font-weight: normal;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-weight: bold;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-display: swap;
}
